<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @childtable.name %>
</p>

<p>
  <b> Parent Table:</b>
  <%= @childtable.table.table_name %>
</p>

<p>
  <b>Description of table:</b>
  <%= @childtable.description_of_Table %>
</p>

<p>
  <b>Other detail:</b>
  <%= @childtable.other_detail %>
</p>


<%= link_to 'Edit', edit_table_childtable_path(@table,@childtable) %> |
<%= link_to 'Back', table_childtables_path %>
