<p id="notice"><%= notice %></p>

<p>
  <b>Table name:</b>
  <%= @table.table_name %>
</p>

<p>
  <b>Desc:</b>
  <%= @table.desc %>
</p>

<p>
  <b>Table child:</b>
  <%= @table.table_child_id %>
</p>
<h3>Child Tables</h3>
<table>
<tr>
<th>Name</th>
<th>Description</th>
<th>Other Details</th>
</tr>
<%for t in @table.childtables%>
<tr>
<td><%=t.name%></td>
<td><%=t.description_of_Table%></td>
<td><%= t.other_detail%></td>
<%end%>	
</table>


<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'ChildTable',table_childtables_path(@table) %>
<%= link_to 'Back', tables_path %>
